<style>
	img{
		width: 100%;
	}
</style>
<div class="row">
<div class="col s4 m4">
     <p class="z-depth-5 "> <img class="responsive-img" src="/me.jpg"></p>
</div>

<div class="col s8 m8">
<p>Welcome to the Collaborative Intelligence Site where your opinion matters. My name is Andrew Mestas and I am the creator of this site. I hope you enjoy using it for whatever you need.</p>
</div>
</div>