<!DOCTYPE html>
<html>
<head>
	<title>Collaborative Intelligence</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/materialize/css/materialize.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
  <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
	<meta name="viewport" content="width=device-width, height=device-height initial-scale=1.0"/>
  <link href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
  <style>
  body {
    background: #2F302A;
    color: white;
font-family: 'PT Serif', serif;
font-size: 100%; /* Makes the font go to 16 pixels */
margin: 0;
padding: 0;

}
#myTable_wrapper{
  width: 98%;
}
.paginate_button{
  color: #5DB !important;
}
.side-nav{
  background-color: rgba(14, 13, 13, 0.9);
}

.side-nav a{
  color: white;
}

button{
  background: #00D110;
  border: none;
  height:32px;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }
label{font-size: .75em;}

.inactive{
  background: grey;
}
  </style>
</head>
<script>
  var socket = io();
</script>
<body>
 <nav>
    <div class="nav-wrapper blue darken-3">
      <a href="/" class="brand-logo">Ci</a> 
      <div class="right"><%=name%></div>

      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
      <%if (currentUser) { %>
        <li><a href="/message/users">Users</a></li>
        <li><a href="/message">Messages<span class="new badge"></span></a></li>
        <li class="inactive"><a href="#">Rooms <small>coming soon</small></a></li>
        <li><a href="/questions">Questions</a></li>
        <li><a href="/ask">Ask</a></li>
        <li class="inactive"><a href="#">Pro <small>coming soon</small></a></li>
        <li><a href="logout">Log out</a></li>
      <% } else { %>
        <li><a href="login">Sign Up / Login</a></li>
      <% } %>

      </ul>
      <ul class="side-nav" id="mobile-demo">
      	<li><a href="/">Collaborative Intelligence</a></li>
      <%if (currentUser) { %>
        <li><a href="/message/users">Users</a></li>
        <li><a href="/message">Messages<span class="new badge"></span></a></li>
        <li><a href="#">Rooms</a></li>
        <li><a href="/questions">Questions</a></li>
        <li><a href="/ask">Ask</a></li>
        <li><a href="#">Pro</a></li>
        <li><a href="logout">Log out</a></li>
      <% } else { %>
        <li><a href="login">Sign Up / Login</a></li>
      <% } %>

      </ul>
    </div>
  </nav>
 <% include alerts %>
 <%- body %>

<script src="/materialize/js/materialize.min.js"></script>
<script>
	$(document).ready(function(){
	 $(".button-collapse").sideNav();
	}); 
</script>

</body>
</html>
