  <div class="row">
    <form action="/signup" method="POST" class="col s6">
      <h5>SIGN UP</h5>
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate" name="firstName">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" name="lastName">
          <label for="last_name">Last Name</label>
        </div>
      </div>
       <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" name="email">
          <label for="email">Email</label>
        </div>
      </div>
       <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" name="password">
          <label for="password">Password</label>
        </div>
      </div>
         <div class="row">
        <div class="input-field col s12">
          <input id="password2" type="password" class="validate" name="password2">
          <label for="password2">Confirm Password</label>
        </div>
      </div>
      <button>Sign Up</button>
    </form>
        <form method="POST" action="/login" class="col s6">
        <h5>LOGIN</h5>
      <div class="row">
       <div class="row">
        <div class="input-field col s12">
          <input id="email2" type="email" class="validate" name="email">
          <label for="email2">Email</label>
        </div>
      </div>

         <div class="row">
        <div class="input-field col s12">
          <input id="password3" type="password" class="validate" name="password">
          <label for="password3">Password</label>
        </div>
      </div>
      <button>Submit</button>
    </form>

  </div>
        
