<div class="row"></div>
<div class="row">
	<div class=" center col s6 offset-s3 green">
		<h3>Your Question</h3>
	</div>
	<div class="center col s6 offset-s3 light-blue lighten-5"> 
	  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="category" type="text" class="validate" name="category" required="" aria-required="true">
          <label for="category">Category</label>
        </div>
      </div>
       <div class="row">
        <div class="input-field col s12">
          <input id="question" type="text" class="validate" name="question" required="" aria-required="true">
          <label for="question">Question</label>
        </div>
      </div>
      <div class="row">

 		<p class="range-field">
      		<input type="range" id="slide" min="2" max="6" step="1"/>
			<button id ="numQ"class="btn waves-effect waves-light" type="submit">Number of choices
			    <i class="material-icons right">playlist_add</i>
			  </button> </p>
        </div>
      </div>
      <div class="row">
        <div id="addToThis"class="input-field col s12">

        </div>
      </div>
      <button id="sub"class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">assessment</i>
  </button>
    </form>
      
  </div>

  </div>

</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
	var toggle = true;
	$(document).ready(function(){
		$("#sub").hide();

		$("#numQ").click(function(e){
			e.preventDefault();
  		 if(toggle){
			toggle = false;
			var val = $("#slide").val();

			for(var i=0;i<val;i++){
				var add = $("<input id=\"question" +i+"\"type=\"text\" class=\"validate\" name=\"question" + i + "\"required=\"\" aria-required=\"true\">");
				$("#addToThis").append(add);
			}
		$("#numQ").addClass("disabled");
		$("#sub").show(1000);
		}
		});
	});
</script>